.container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.sidebar {
    flex: 1;
    padding: 10px 100px;
    margin-top: 0px;
}

.main-content {
    flex: 3;
}

.map-chart-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.map-container {
    flex: 1;
    padding: 10px;
}

.chart-container {
    flex: 1;
    padding: 10px;
    width: 50rem;
}

.datepicker-container {
    position: relative;
    z-index: 10000;
}